<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>조위관측소 실시간 경고</title>
</head>
<body>
    <ul id="warn-list">
      {% for msg in warning %}
        {% if '위험' in msg %}
            <li class="log-entry" style="color:red">{{ msg }}</li>
        {% elif '주의' in msg %}
            <li class="log-entry" style="color:orange">{{ msg }}</li>
        {% else %}
            <li class="log-entry">{{ msg }}</li>
        {% endif %}
      {% else %}
        <li class="log-entry">이상 없음</li>
      {% endfor %}
    </ul>

    <script>
      const updateWarning = () => {
        fetch('/api/warning')
          .then(respose => respose.json())
          .then(data => {
            const ul = document.getElementById('warn-list');
            ul.innerHTML = '';
            if(data.warning.length === 0) {
              ul.innerHTML = '<li class="log-entry">이상 없음</li>'
            } else {
              data.warning.forEach(function(msg) {
                const li = document.createElement('li');
                li.className = 'log-entry';
                if (msg.includes('위험')) {
                  li.style.color = 'red'
                } else if(msg.includes('주의')) {
                  li.style.color = 'orange'
                }
                li.textContent = msg;
                ul.appendChild(li);
              });
            }
          });
      }
    setInterval(updateWarning, 600000)
    </script>
</body>
</html>